---
page_title: Blog
title: Blog
---

<section class="blog-landing article-summaries">

<% blog.articles.each_index do |i| %>
<% article = blog.articles[i] %>
<article class="right-aligned<%= i % 2 != 0 ? " gray" : "" %>">
<div class="container">
	<div class="row">
		<% if article.data.list_image_url %>
		<!-- post summary content -->
		<div class="span4">
			<%= image_tag article.data.list_image_url, :width => "287", :height => "284" %>
		</div>	<!-- span -->
		<div class="span7">
			<h6 class="meta date"><%= article.date.strftime('%b %e %Y') %></h6>
			<h1><%= article.title %></h1>
			<p><%= article.summary %></p>
			<a class="read-more" href="<%= article.url %>">read more</a>
		</div>	<!-- span -->
		<% else %>
		<div class="span8 offset2">
			<h6 class="meta date"><%= article.date.strftime('%b %e %Y') %></h6>
			<h1><%= article.title %></h1>
			<p><%= article.summary %></p>
			<a class="read-more" href="<%= article.url %>">read more</a>
		</div>
		<% end %>
	</div>	<!-- row -->
</div> <!-- container -->
</article>
<% end %>

</section> <!-- blog landing -->
